<div class="container">
  <div class="container">
    <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label for="item">Item</label>
    
    <input type="text" class="form-control" placeholder="Enter content..." id="item"
    
    required [(ngModel)]="itemValue" name="item">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      
      <input type="text" class="form-control" placeholder="Enter content..." id="name"
      
      required [(ngModel)]="nameValue" name="name">
      </div>

      <div class="form-group">
        <label for="address">Current Address</label>
        
        <input type="text" class="form-control" placeholder="Enter content..." id="address"
        
        required [(ngModel)]="addValue" name="address">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          
          <input type="text" class="form-control" placeholder="Enter content..." id="city"
          
          required [(ngModel)]="cityValue" name="city">
          </div>
          <div class="form-group">
            <label for="contact">Contact No</label>
            
            <input type="text" class="form-control" placeholder="Enter content..." id="contact"
            
            required [(ngModel)]="contactValue" name="contact">
            </div>
   
    <div class="btn-group">
    <button type="submit" class="btn btn-success">Submit</button>
    </div>
    </form>
    </div>
    <hr>
  </div>
  </div>
  <h2>Content from Firebase</h2>
  
   
  
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="th">Item</th>
        <th class="th">Name</th>
        <th class="th">Current Address</th>
        <th class="th">City</th>
        <th class="th">Contact No</th>
      </tr>
    </thead>
    <th>
      <tr *ngFor="let item of items | async"> 
        {{item.content}}
        
      </tr>
    </th>
    <th>
      <tr *ngFor="let name of name | async">
        {{name.namecontent}}
        
      </tr>
      </th>
      <th>
      <tr *ngFor="let address of address | async">
        {{address.addcontent}}
        
      </tr>

    </th>
    <th>
      <tr *ngFor="let city of city | async">
        {{city.citycontent}}
        
      </tr>

    </th>
    <th>
      <tr *ngFor="let contact of contact | async">
        {{contact.contcontent}}
        
      </tr>

    </th>
  </table> 
 </div>